<footer class="footer">
  <div class="section-container footer-container">
    <div class="footer-col">
      <h4>Compania</h4>
      <a href="">Sobre a gente</a>
      <a href="">Blog</a>
      <a href="">Time</a>
      <a href="">Vagas</a>
      <a href="">Contato</a>
    </div>

    <div class="footer-col">
      <h4>Hospedagem</h4>
      <a href="">Anuncie seu espaço aqui</a>
      <a href="">Dicas para anfitriões</a>
      <a href="">Recursos para anfitriões</a>
      <a href="">Fórum da comunidade</a>
      <a href="">Hospedagem responsável </a>
    </div>

    <div class="footer-col">
      <h4>Atendimento</h4>
      <a href="">Central de Ajuda</a>
      <a href="">Antidiscriminação</a>
      <a href="">Apoio à pessoa com deficiência</a>
      <a href="">Opções de cancelamento</a>
      <a href="">Reporte um problema</a>
    </div>
  </div>
</footer>
