// reuse

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}


// header navigation links

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 8px rgba(99, 149, 219, 0.5);
    background-color: #fff;
    z-index: 100;
  
    .nav {
      height: 3.5rem;
  
      .nav-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
  
        .nav-logo {
          display: inline-flex;
          align-items: center;
          color: #333;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
  
      .nav-toggle {
        position: relative;
        width: 32px;
        height: 32px;
  
        .nav-toggle-menu,
        .nav-toggle-close {
          position: absolute;
          display: grid;
          place-items: center;
          inset: 0;
          cursor: pointer;
          transition: all 0.3s;
          font-size: 1.25rem;
          color: #333;
          opacity: 0;
  
          &.show-menu {
            opacity: 1;
            pointer-events: none;
          }
        }
  
        .nav-toggle-close {
          opacity: 0;
  
          &.show-menu {
            opacity: 1;
            pointer-events: none;
            transform: rotate(90deg);
          }
        }
      }
  
      .nav-list {
        .nav-link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #333;
          font-weight: 500;
          padding: 1.25rem 1.4rem !important;
          transition: all 0.3s;
  
          &:hover {
            background: #e6e8ed;
          }
        }
      }
  
      .dropdown-item {

        

        .dropdown-button {
          cursor: pointer;
  
          .dropdown-arrow {
            font-size: 1.4rem;
            font-weight: initial;
            transition: all 0.3s;
            margin-left: 0.5rem;
          }
        }
  
        .dropdown-content,
        .dropdown-group,
        .dropdown-list {
          display: grid;
        }
  
        .dropdown-container {
          background-color: #fff;
          height: 0;
          overflow: hidden;
          transition: all 0.3s;
          box-shadow: 0 2px 8px rgba(99, 149, 219, 0.5);
  
          &.show-dropdown {
            height: auto;
            overflow: visible;
          }
        }
  
        .dropdown-content {
          row-gap: 1.75rem; 
        }
  
        .dropdown-group {
          padding-left: 2.5rem;
  
          &:first-child {
            margin-top: 1.25rem;
          }
  
          &:last-child {
            margin-bottom: 1.25rem;
          }


        }
  
        .dropdown-icon {
          font-size: 1.25rem;

          fa-icon {
            color: rgb(255, 255, 255);
            background-color: rgba(120, 168, 247, 0.7);
            padding: 5px 10px;
            border-radius: 50%;
            text-align: center;
          }
        }
  
        .dropdown-title {
          font-size: 0.95rem;
          font-weight: 500;
          color: #333;
        }
  
        .dropdown-list {
          row-gap: 0.25rem;
        }
  
        .dropdown-link {
          font-size: 0.85rem;
          font-weight: 500;
          color: #626262;
          transition: all 0.3s;
  
          &:hover {
            color: #282828;
          }
        }
      }
    }
}


// medias quieres 
  
@media (max-width: 1118px) {
    header {
      .nav {
        .nav-menu {
          background: #fff;
          position: absolute;
          left: 0;
          top: 3.5rem;
          width: 100%;
          height: calc(100vh - 3.5rem);
          overflow: auto;
          padding-block: 1.5rem 4rem;
          pointer-events: none;
          opacity: 0;
          transition: all 0.3s;
  
          &.show-menu {
            opacity: 1;
            pointer-events: auto;
          }
        }

        .nav-data .nav-logo {
          font-size: 1.2rem;
        }
  
        .dropdown-item {

          

          .dropdown-container {
            height: 0;
            overflow: hidden;
            transition: all 0.3s;
  
            &.show-dropdown {
              height: auto;
              overflow: visible;
            }
          }

          &:has(.dropdown-container.show-dropdown) .dropdown-arrow {
            transform: rotate(180deg);
            
          }

          .dropdown-icon {
            font-size: 1.25rem;
            color: #333;
            margin-bottom: 0.5rem;
          }

         
        }
      }
    }
}
  
@media (max-width: 300px) {
    header .nav .dropdown-item {
      .dropdown-group {
        padding-left: 1.5rem;
      }
    }
}
  
@media (min-width: 1118px) {
    header .nav {
      display: flex;
      justify-content: space-between;
      height: calc(3.5rem + 2rem);
  
      .nav-toggle {
        display: none;
      }
  
      .nav-list {
        display: flex;
        column-gap: 3rem;
        height: 100%;
  
        .nav-link {
          padding: 0;
        }
      }
  
      li {
        display: flex;
      }
  
      .dropdown-item {
        cursor: pointer;

        .dropdown-button {
          gap: 0.25rem;
          pointer-events: none;
        }
  
        .dropdown-container {
          height: max-content;
          position: absolute;
          left: 0;
          right: 0;
          top: 6.5rem;
          box-shadow: rgba(0, 0, 0, 0.5);
          pointer-events: none;
          opacity: 0;
          transition: all 0.3s;
        }
  
        .dropdown-content {
          grid-template-columns: repeat(4, max-content);
          gap: 6rem;
          max-width: 1120px;
          margin-inline: auto;
        }
  
        .dropdown-group {
          padding: 4rem 0;
          align-content: baseline;
  
          &:first-child {
            margin: 0;
          }
  
          &:last-child {
            margin: 0;
          }
        }
  
        .dropdown-icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          place-items: center;
          font-size: 1.55rem;
          color: #333;
  
          i {
            font-size: 1rem;
          }
        }
  
        .dropdown-title {
          font-size: 1.5rem;
          font-weight: 500;
        }
  
        .dropdown-list {
          row-gap: 0.75rem;
        }
  
        .dropdown-link {
          font-size: 1.2rem;
        }
  
        &:hover > .dropdown-container {
          top: 5.5rem;
          opacity: 1;
          pointer-events: initial;
          cursor: initial;
        }

        &:hover .dropdown-arrow {
            transform: rotate(180deg);
        }
      }
    }
}
  
@media (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
}
  