<section class="client">
  <div class="section-container client-container">
    <div class="section-header">Depoimentos de Clientes</div>

    <div class="client-grid">
      <div class="client-card">
        <img src="/assets/images/client/client1.jpg" alt="" />
        <p>Ótimo site! Aluguei um apartamento perfeito e sem complicações.</p>
      </div>

      <div class="client-card">
        <img src="/assets/images/client/client2.jpg" alt="" />
        <p>Fiquei encantada com a facilidade de uso. O imóvel era perfeito!</p>
      </div>

      <div class="client-card">
        <img src="/assets/images/client/client3.jpg" alt="" />
        <p>
          Minha família adorou a estadia. Tudo foi rápido e seguro. Muito
          obrigada!
        </p>
      </div>
    </div>
  </div>
</section>
