

.recommended-container {
    padding-top: 5rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 4rem;
    }

    .recommended-btns {
        display: flex;
        gap: 5px;

        button {
            margin-top: 1rem;
            padding: 10px 20px;
            background: transparent;
            border: none;
            border: 0.6px solid #ccc;
            border-radius: 5px;
            color: #333;
            cursor: pointer;
            transition: all .3s;

            &.active {
                background-color: rgb(65, 153, 254);
                color: #fff;
                transition: all .3s;
                
            }
        }
    }
   
}