<main class="banner-container section-container" id="home">
  <div class="banner-image-container">
    <div class="banner-content">
      <h1>Aproveite as férias dos seus sonhos</h1>
      <p>
        Reserve hotéis, nos melhores lugares e com pacotes de estadia pelo menor
        preço.
      </p>
    </div>

    <div class="booking-container">
      <form action="">
        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="" />
            <label for="">Localização</label>
          </div>
          <p>Para aonde você quer ir?</p>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="" />
            <label for="">Entrada</label>
          </div>
          <p>Data de chegada</p>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="" />
            <label for="">Saída</label>
          </div>
          <p>Data de saída</p>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input type="text" placeholder="" />
            <label>Convidados</label>
          </div>
          <p>Quantas pessoas?</p>
        </div>
      </form>
      <button class="btn"><fa-icon [icon]="faSearchIcon"></fa-icon></button>
    </div>
  </div>
</main>
