<section class="section-container products-container">
  <div class="products-grid">
    <div class="products-card">
      <img
        src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="products-content">
        <div class="products-card-header">
          <h4>Plaza Hotel</h4>
          <h4>R$500</h4>
        </div>
        <p>São Paulo, Brasil.</p>
      </div>
    </div>

    <div class="products-card">
      <img
        src="https://images.pexels.com/photos/164558/pexels-photo-164558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="products-content">
        <div class="products-card-header">
          <h4>Panorama Duplex</h4>
          <h4>R$700</h4>
        </div>
        <p>São Paulo, Brasil.</p>
      </div>
    </div>

    <div class="products-card">
      <img
        src="https://images.pexels.com/photos/206172/pexels-photo-206172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="products-content">
        <div class="products-card-header">
          <h4>Estadia Grandiosa</h4>
          <h4>R$800</h4>
        </div>
        <p>São Paulo, Brasil.</p>
      </div>
    </div>

    <div class="products-card">
      <img
        src="https://images.pexels.com/photos/221540/pexels-photo-221540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="products-content">
        <div class="products-card-header">
          <h4>Cabana Vista Serena</h4>
          <h4>R$550</h4>
        </div>
        <p>São Paulo, Brasil.</p>
      </div>
    </div>

    <div class="products-card">
      <img
        src="https://images.pexels.com/photos/20507713/pexels-photo-20507713/free-photo-of-casas-residencias-jardim-casa.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="products-content">
        <div class="products-card-header">
          <h4>Paraíso Verde</h4>
          <h4>R$400</h4>
        </div>
        <p>São Paulo, Brasil.</p>
      </div>
    </div>

    <div class="products-card">
      <img
        src="https://images.pexels.com/photos/14191118/pexels-photo-14191118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <div class="products-content">
        <div class="products-card-header">
          <h4>Villa Lumina</h4>
          <h4>R$300</h4>
        </div>
        <p>São Paulo, Brasil.</p>
      </div>
    </div>
  </div>
</section>
